body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  background-color: #2c3e50;
}
.homePage__loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383e4e;
}

.loader {
  border-top: 16px solid #00bc8c!important;
}

.wrapper {
  max-width: 700px;
  width: 100%;
  margin: 50px auto;
  padding: 25px;
}

.question {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 2em;
}

.question li{
  list-style: none;
}

.question .question-headline {
  font-weight: 700;
  border-bottom: 2px solid #ddd;
  font-size: 1.5em;
  color: #000;
}
.question .question-answers {
  margin-top: 1em;
  color: #222;
}
.question .question-answers .answer {
  margin-top: .5em;
}
.question  input {
  display: inline-block;
  margin-right: 1em;
}
.question  label {
  cursor: pointer;
}

.result {
  margin-top: 2em;
  font-size: 1.2em;
  width: 70%;
  background-color: #ecf0f1;;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
}

.result p{
  margin-bottom: 1em;
}

.btn-check {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-size: 1.5em;
}
.btn-check:hover {
  background-color: #1b7943;
}
